

    
    
.carrousel {
    display: flex;
    width: 300vw;
    height: 25vh;
    transition: transform .5s;
    justify-content: center;
    
    div {
        
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);

        color: rgb(26, 33, 41);

        &:nth-of-type(1) {
            background-color: #2a9d8f;


        }

        &:nth-of-type(2) {
            background-color: #f4a261;

        }

        &:nth-of-type(3) {
            background-color: #ae73a6;
            

        }

        // fin div

    }
}



/*-------------Ajout de la section et de la class boutons-----------------*/



    .boutons {


        display: flex; // flex box la section
        justify-content: center; // centrage de la section
        align-items: center;
        width: 100vw; // largeur fixe de 100vw pour occuper 100% de la page accueil sans deborder dans les 300vw 
        background-color: #557a95;
        
        
        :nth-child(1),
        :nth-child(2),
        :nth-child(3) {
            margin: 12px;
            //border-radius: 20%;
            font-size: clamp(0.5rem, #{"-0.875rem + 8.333vw"}, 2rem);
           // border: 4px solid white;
            width: 3rem;
            height: 3rem;
        }

    }

/*-------------Boutons et radio boutons ---------------------*/


#un,#deux,#trois {
    background-color: #A8DADC;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}




/*-----------------------------------------------------------*/
/*------------- svg et textes dans les slider ---------------*/
/*-----------------------------------------------------------*/

   
    div{
        display: flex;

        p{
            
            font-size:clamp(2.5rem, #{"-0.875rem + 8.333vw"}, 3rem) ;
        }
    #svg1,#svg2,#svg3{
        display: none;


        width: 2rem;
            height: 2rem;


        @include tablette{
            display: block;
            margin: 1rem;
            width: 10rem;
            height: 10rem;
    
        }
       
        
    }

}

  

    
        
    
    
    





