main {
    flex-direction: column;
    background-color: #F1FAEE;
}

.galerie {
/* conteneur section */
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: space-around;
    margin-right: 1rem;
    background-color: #c3e1e2;

/*--------------------------------------------Flip Card-------------------------------*/
    .flip-card {
        background-color: transparent;
        width: 150px;
        height: 150px;
        perspective: 1000px;
        margin: .5rem;
        border: .5rem solid #f4a261;
        border-radius: 5%;
        
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgb(3, 7, 17);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
        
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
      }
      
      .flip-card-front {
        background-color: #F1FAEE;
        color: rgb(3, 7, 17);
        
      }
      
      .flip-card-back {
        background-color: #2a9d8f;
        color: #F1FAEE;
        transform: rotateY(180deg);
        
        justify-content: center;
        align-items: center;
        font-size: .3rem;
        margin: 0;
        

        /*--------------------------Element deriere la carte  Info-------------------*/

        h1{
            transform: rotate(45deg);
    
            
        }
  
        p{
          font-size: 1rem;
        }
      }

      
}


.galerie-accueil{

  display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: space-around;
    margin-right: 1rem;
    background-color: #c3e1e2;
    align-items: center;
    width: 100vw;
    height: 40vh;

/*--------------------------------------------Flip Card-------------------------------*/
    .flip-card {
        background-color: transparent;
        width: 150px;
        height: 150px;
        perspective: 1000px;
        margin: .5rem;
        border: .5rem solid #f4a261;
        border-radius: 5%;
        justify-content: center;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgb(3, 7, 17);
        @include desktop {
          transform: scale(1.4);
        }
        
        
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
        
        
      }

      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #F1FAEE;
        color: rgb(3, 7, 17);
        
        
      }
      
      .flip-card-back {
        background-color: #2a9d8f;
        color: #F1FAEE;
        transform: rotateY(180deg);
        justify-content: center;
        align-items: center;
        font-size: .3rem;
        margin: 0 auto;
        
        

        /*--------------------------Element deriere la carte  Info-------------------*/

        h1{
            transform: rotate(45deg);
    
            
        }
  
        p{
          font-size: 1rem;
        }
      }

}