
header{
  display: block;
  width: 100vw;
  div{
      display: flex;
      flex-direction: column;
      //justify-content: center;

      .site-title {
          display: flex;
          justify-content: center;
          font-family: $font__title;
          font-size: clamp(2.5rem, #{"-0.875rem + 8.333vw"}, 5rem);
          margin-bottom: 0;
          margin-top: 0;
          margin-left: 0;
          margin-right: 0;
          padding: 0;
          animation: animTitre 2.5s both;
          transition: cubic-bezier(.17, .67, .83, .67);
          
          a {
              text-decoration: none;
          }
      
      }

      .site-description{
          display: flex;
          justify-content: center;
          font-family: $font__title;
          
          font-size: clamp(1.5rem, #{"-0.875rem + 8.333vw"}, 2rem);
          margin-bottom: 0;
          margin-top: 0;
          margin-left: 0;
          margin-right: 0;
      }
  }
}
/*
.site-main{
  display: grid;
	//grid-template-columns: auto ($size__site-sidebar);
	//grid-template-columns: 80% 20%;
	grid-template-areas:
		"article"
		"nav"
		"div";
grid-template-rows: 60% 10% 30%;

}

*/




@keyframes animTitre {
  0% {
      transform: translateY(-100px);

  }

  100% {
      transform: translateY(0);

  }

}


/*-----------------------Titre de page--------------------------*/
.page-header {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  margin: 0;      
  font-family: $font__title;
  background-color: #2a9d8f;
  
  .page-title {
      display: flex;
      justify-content: center;
      /*---copie de h2 accueil---*/
      font-size: 3.2rem;
        color: #f4a261;
        align-items: center;
        margin: .5rem;


  }

  .archive-description {
      display: flex;
      justify-content: center;
        color: #F1FAEE;
        align-items: center;
        margin: .5rem;
        
      p{
          display: flex;
      justify-content: center;
      margin: 0;
      font-size: 2rem;
      }
  }
}

/*-----------------------Pages cours--------------------------*/

article{
 
  .entry-header{
    display: flex;
    
  justify-content: left;
  margin-left: 2.5rem;

    .entry-title{
      font-family: $font__title;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: clamp(1.5rem, #{"-0.875rem + 8.333vw"}, 2.6rem);
      background-color: #2a9d8f;
      color: #F1FAEE;
      padding: 1rem;

    }

  }

  span{
    display: none;
  }

  .entry-content{
    
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-left: 2.5rem;
  flex-direction: column;
  

   p{
    justify-content: center;
    align-items: center;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    margin: 1%;
    }

  }

}

.post-thumbnail{
  margin-left: 1rem;
  img{
    width: 40%;
    
  }
}

#primary > nav{
  background-color: #75a5cc;
  //margin-top: 5rem;
  justify-content: left;
  width: 60%;

  .nav-links{
    //flex-direction: column;
    display: flex;
    //width: 80%;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    
  }
  
  .nav-next, .nav-previous{
    display: block;
    justify-content: space-between;
  }

}




/*----------------Zone comentaire----------------------*/
h3{
  display: none;
}

#commentform{
  display: none;
}

 
  

  