
  /*----------------------Widget--------------------*/
  

  /*------------------------side bar desktop-----------------------*/
  @include tablette{
    aside{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      //padding-left: 1rem;
      //padding-right: 1rem;
      

      #categories-2{
        width: 70%;
        font-size: clamp(1rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
      }

      #media_gallery-2{
        width: 80%;
        margin: 4%;
        
  
        
      }
  
    }
  }
  

  

  